<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region <small> {{ selectedRegion | titlecase }}</small></h3>
  <hr>
  <div class="row">
    <div class="col text-center">
      <button
        *ngFor="let region of regions"
        class="btn mx-2"
        [ngClass]="{'btn-outline-primary': selectedRegion === region}"
        (click)="searchByRegion(region)"
      >
        {{ region }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
